/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #fff;
  background: #1e2d3b;
}

/* Set images */
img {
  max-width: 100%;
}

/* HEADER LOGO */
.logo {
  background: #2e3a46;
}

.logo img {
  padding: 10px 10px 5px;
  max-height: 60px;
}

/* COLLECTION */
.collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px 15px;
  list-style: none;
}

.collection .album {
  flex-basis: 200px;
  margin: 15px 25px;
  padding: 25px;
  background: #2e3a46;
  text-align: center;
}

.album-cover {
  min-height: 170px;
}

.album .title {
  font-size: 21px;
  text-transform: uppercase;
  margin: 8px 0;
}

.album .author,
.album .year {
  margin-bottom: 8px;
  font-size: 17px;
  color: rgb(153, 153, 153);
}

.album .genre {
  font-size: 14px;
}



